body {
  background-color: rgb(243, 243, 186);
}
h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  color: blueviolet;
  letter-spacing: 2px;
}
p {
  padding: 20px;
  background-color: greenyellow;
  border: 2px dotted brown;
}
ul {
  list-style-type: decimal;
}
a {
  text-decoration: none;
  color: red;
  font-size: 18px;
}
img{
  cursor: pointer;
  margin-left: 100px;
}
img:hover {
  border: 2px solid blue;
  transform: scale(1.2);
}